<%- model_class = Task -%>

<h2>Tarefas</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:title) %></th>
    <th><%= model_class.human_attribute_name(:user_id) %></th>
    <th><%= model_class.human_attribute_name(:type_id) %></th>
    <th><%= model_class.human_attribute_name(:hours) %></th>
    <th><%= model_class.human_attribute_name(:state_id) %></th>
    <th><%= t 'qtd_items' %></th>
    <th><%= t 'actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @project.tasks %>
  </tbody>
</table>