<tr>
  <td><%= link_to task.title, customer_project_task_path(@customer, @project, task) %></td>
  <% if (task.user) %>
      <td><%= task.user.email %></td>
  <%else%>
      <td><%= task.user_id %></td>
  <%end%>
  <td><%= task.hours %></td>
  <td><%= task.status %></td>
  <% if (task.type) %>
      <td><%= task.type.description %></td>
  <%else%>
      <td><%= task.type_id %></td>
  <%end%>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_customer_project_task_path(@customer, @project, task), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                customer_project_task_path(@customer, @project, task),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>