<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= link_to "#{@project.name} >", customer_project_path(@customer, @project), class: 'small' %> <%= @task.description %> </h1>
</div>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Hours:</b>
  <%= @task.hours %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project_id %>
</p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>

<p>
  <b>Type:</b>
  <%= @task.type_id %>
</p>


<%= link_to 'Edit', edit_customer_project_task_path(@customer, @project, @task) %> |
<%= link_to 'Back', customer_project_task_path(@customer, @project) %>