<%- model_class = Task -%>

<div class="page-header">
  <h1><%= link_to "#{@project.name} >", customer_project_path(@customer, @project), class: 'small' %> <%= @task.description %> </h1>
</div>

<p id="notice"><%= notice %></p>

<%= link_to "Novo Item", new_customer_project_task_item_path(@customer, @project, @task), class: 'btn btn-primary' %>
<%= render :partial => 'items/list' %>
