<%= simple_form_for [@customer], :html => { :class => 'form-horizontal' } do |f| %>

    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :name %>
    <%= f.input :nickname %>
    <%= f.input :enrollment %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :mobile %>
    <%= f.input :fax %>
    <%= f.input :address %>
    <%= f.input :complement %>
    <%= f.input :neighborhood %>
    <%= f.input :zip_code %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                    customers_path, :class => 'btn' %>
    </div>
<% end %>
