<%- model_class = Customer -%>

<div class="page-header">
  <h1><%= link_to "Todos Clientes > ", root_path, class: 'small' %> <%= @customer.name %> </h1>
</div>

<p id="notice"><%= notice %></p>

<%= link_to "Novo Projeto", new_customer_project_path(@customer), class: 'btn btn-primary' %>

<%= render :partial => 'projects/list' %>
