<%= simple_form_for [@meeting, @item], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h3><%= t(:error) %></h3>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b><%= t(:meeting) %>: </b>
    <%= @meeting.title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")),
              meeting_path(@meeting), :class => 'btn' %>
  </div>

  <%= f.input :subject, :autofocus => true %>
  <%= f.label :customer_id %>
  <%= f.select :customer_id,
               Customer.all.map { |c| [c.name, c.id] },
               :prompt => t(:select_customer) %>
  <%= f.label :user_id %>
  <%= f.select :user_id,
               User.all.map { |u| [u.name, u.id] },
               :prompt => t(:select_user) %>
  <%= f.input :date_state, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.label :state_id %>
  <%= f.select :state_id,
               State.all.map { |s| [s.description, s.id] },
               :prompt => t(:select_state) %>
  <%= f.input :decision %>

<% end %>
