<%= simple_form_for [@meeting, @item], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :subject %>
    <%= f.label :customer_id %>
    <%= f.select :customer_id,
                 Customer.all.map { |u| [u.name, u.id] },
                 :prompt => t(:select_customer) %>
  <%= f.input :decision %>
  <%= f.label :user_id %>
  <%= f.select :user_id,
               User.all.map { |u| [u.email, u.id] },
               :prompt => t(:select_user) %>
  <%= f.label :state_id %>
  <%= f.select :state_id,
               State.all.map { |u| [u.description, u.id] },
               :prompt => t(:select_state) %>
  <%= f.input :date_state %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                  meeting_path(@meeting), :class => 'btn' %>
  </div>
<% end %>
