<%- model_class = MeetingItem -%>

<h2>Itens</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:subject) %></th>
    <th><%= model_class.human_attribute_name(:customer_id) %></th>
    <th><%= model_class.human_attribute_name(:decision) %></th>
    <th><%= model_class.human_attribute_name(:user_id) %></th>
    <th><%= model_class.human_attribute_name(:state_id) %></th>
    <th><%= model_class.human_attribute_name(:date_state) %></th>
    <th><%=t 'actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
    <%= render @meeting.meeting_items %>
  </tbody>
</table>