<tr>

  <%= render :partial => 'share/simple_modal'%>
  <td><%= link_to '', "#modal-details", :data => {:toggle=>"modal", :details=>meeting_item.decision}, :class=>"open-modal-details icon-search"%></td>

  <td><%= meeting_item.id %></td>
  <td><%= link_to cutString(meeting_item.subject,30), meeting_meeting_item_path(@meeting, meeting_item), :title => meeting_item.subject, :rel => 'tooltip' %></td>
  <% if meeting_item.customer.nil? %>
      <td></td>
  <% else %>
      <td><%= meeting_item.customer.name %></td>
  <% end %>
  <% if meeting_item.user.nil? %>
      <td></td>
  <% else %>
      <td><%= meeting_item.user.name %></td>
  <% end %>
  <td><%= meeting_item.date_state %></td>
  <td><%= meeting_item.state.description %></td>
  <td class="btn_actions">
    <%= link_to t('edit', :default => t("helpers.links.edit")),
                edit_meeting_meeting_item_path(@meeting, meeting_item), :class => 'btn btn-mini' %>
    <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                meeting_meeting_item_path(@meeting, meeting_item),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('sure'))) },
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>