<div class="page-header">
  <h3><%= link_to "#{@meeting.title}" + ' \ ' + t(:items), meeting_path(@meeting), class: 'small' %> \ <%= @item.subject %> </h3>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:subject) %></b>
  <%= @item.subject %>
</p>

<p>
  <b><%= t(:customer_id) %></b>
  <% if not @item.customer.nil? %>
    <%= @item.customer.name %>
  <% end %>
</p>

<p>
  <b><%= t(:user_id) %></b>
  <% if not @item.user.nil? %>
      <%= @item.user.name %>
  <% end %>
</p>

<p>
  <b><%= t(:date_state) %></b>
  <%= @item.date_state %>
</p>

<p>
  <b><%= t(:state_id) %></b>
  <%= @item.state.description %>
</p>

<p>
  <b><%= t(:decision) %></b>
  <%= simple_format(@item.decision) %>
</p>

<%= link_to t(:edit), edit_meeting_meeting_item_path(@meeting, @item) %> |
<%= link_to t(:back), meeting_path(@meeting) %>
