<%= simple_form_for [@customer, @project], :html => { :class => 'form-horizontal' } do |f| %>

    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h3><%= t(:error) %></h3>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <b><%= t(:customer) %>: </b>
      <%= @customer.name %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                  customer_path(@customer), :class => 'btn' %>
    </div>

    <%= f.input :name, :autofocus => true %>
    <%= f.input :date_begin, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :date_end, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :specification %>
    <%= f.input :documentation %>

<% end %>
