<div class="page-header">
  <h3>
    <%= image_tag @customer.logo.url(:small) %>
    <%= link_to "#{@customer.name} ", customer_path(@customer), class: 'small' %> \ <%= @project.name %>
  </h3>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name) %></b>
  <%= @project.name %>
</p>

<p>
  <b><%= t(:date_begin) %></b>
  <% if not @project.date_begin.nil? %>
    <%= @project.date_begin.to_date() %>
  <% end %>
</p>

<p>
  <b><%= t(:date_end) %></b>
  <% if not @project.date_end.nil? %>
    <%= @project.date_end.to_date() %>
  <% end %>
</p>

<p>
  <b><%= t(:specification) %></b>
  <%= simple_format(@project.specification) %>
</p>

<p>
  <b><%= t(:documentation) %></b>
  <%= simple_format(@project.documentation) %>
</p>

<%= link_to t(:edit), edit_customer_project_path(@customer, @project) %> |
<%= link_to t(:back), customer_path(@customer) %>
