<%- model_class = Project -%>

<div class="page-header">
  <h1><%= link_to "#{@customer.name} >", customer_path(@customer), class: 'small' %> <%= @project.name %> </h1>
</div>

<p id="notice"><%= notice %></p>

<div class="project-detail">
    <% if not @project.specification.nil? %>
        <h3>Especificação</h3>
          <textarea rows="15" cols="55" readonly><%= @project.specification %></textarea>
        <br/>
    <% end %>
</div>

<div class="task-list">
  <%= link_to "Nova Tarefa", new_customer_project_task_path(@customer, @project), class: 'btn btn-primary' %>
  <%= render :partial => 'tasks/list' %>
</div>
