<%- model_class = Project -%>

<div class="page-header">
  <h3>
    <%= image_tag @customer.logo.url(:small) %>
    <%= link_to getNameOrNick(@customer.name, @customer.nickname) + ' \ ' + t(:projects), customer_path(@customer), class: 'small' %> \ <%= @project.name %> \ <%= t(:tasks) %>
  </h3>
</div>

<p id="notice"><%= notice %></p>

<div class="task-list">
  <%= link_to t('helpers.titles.new',:model => t(:task)), new_customer_project_task_path(@customer, @project), class: 'btn btn-primary' %>
  <%= render :partial => 'tasks/list' %>
</div>

<div class="project-detail">
  <% if not @project.specification.nil? %>
      <h3>Especificação</h3>
      <textarea rows="5" readonly><%= @project.specification %></textarea>
      <br/>
  <% end %>

  <% if not @project.documentation.nil? %>
      <h3>Documentação</h3>
      <textarea rows="5" readonly><%= @project.documentation %></textarea>
      <br/>
  <% end %>
</div>