<%= simple_form_for [@customer, @project, @task, @item], :html => { :class => 'form-horizontal' } do |f| %>

    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                  customer_project_task_path(@customer, @project, @task), :class => 'btn' %>
    </div>

    <%= f.input :priority %>
    <%= f.input :title, :autofocus => true %>
    <%= f.input :date_start, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :date_end, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :hour_estimated %>
    <%= f.input :hour_used %>
    <%= f.label :user_id %>
    <%= f.select :user_id,
                 User.all.map { |u| [u.name, u.id] },
                 :prompt => t(:select_user) %>
    <%= f.label :state_id %>
    <%= f.select :state_id,
                 State.all.map { |u| [u.description, u.id] },
                 :prompt => t(:select_state) %>
    <%= f.input :description %>

<% end %>