<%= simple_form_for [@customer, @project, @task, @item], :html => { :class => 'form-horizontal' } do |f| %>

    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :description %>
    <%= f.input :hour_estimated %>
    <%= f.input :hour_used %>
    <%= f.input :date_start %>
    <%= f.input :date_end %>
    <%= f.input :task_id %>
    <%= f.input :type_id %>
    <%= f.input :user_id %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  customer_project_task_path(@customer, @project, @task), :class => 'btn' %>
    </div>

<% end %>