<tr>
  <td><%= item.id %></td>
  <td><%= link_to item.title, customer_project_task_item_path(@customer, @project, @task, item) %></td>
  <td><%= item.date_start %></td>
  <td><%= item.date_end %></td>
  <td><%= item.hour_estimated %></td>
  <td><%= item.hour_used %></td>
  <% if item.user.nil? %>
      <td></td>
  <% else %>
      <td><%= item.user.name %></td>
  <% end %>
  <td><%= item.state.description %></td>
  <td>
    <%= link_to t('edit', :default => t("helpers.links.edit")),
                edit_customer_project_task_item_path(@customer, @project, @task, item), :class => 'btn btn-mini' %>
    <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                customer_project_task_item_path(@customer, @project, @task, item),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('sure'))) },
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>