<%- model_class = Item -%>

<% @items_filtred = @task.items.where(where) %>

<% if @items_filtred.count > 0 %>

  <% case type %>
  <% when 2 %>
      <h3 class="title_item completed">Concluídos</h3>
  <% when 3 %>
      <h3 class="title_item canceled">Cancelados</h3>
  <% else %>
      <h3 class="title_item pending">Pendentes</h3>
  <% end %>
  
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th><%= '#' %></th>
        <th><%= t(:id) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:date_start) %></th>
        <th><%= model_class.human_attribute_name(:date_end) %></th>
        <th><%= model_class.human_attribute_name(:hour_estimated) %></th>
        <th><%= model_class.human_attribute_name(:hour_used) %></th>
        <th><%= t(:developer) %></th>
        <th><%= model_class.human_attribute_name(:state_id) %></th>
        <th><%=t 'actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @items_filtred.order(:date_start) %>
    </tbody>
  </table>

<% end %>
