<div class="page-header">
  <h3>
    <%= image_tag @customer.logo.url(:small) %>
    <%= link_to "#{@task.title} ", customer_project_task_path(@customer, @project, @task), class: 'small' %> \ <%= @item.title %>
  </h3>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:title) %></b>
  <%= @item.title %>
</p>

<p>
  <b><%= t(:date_start) %></b>
  <%= @item.date_start %>
</p>

<p>
  <b><%= t(:date_end) %></b>
  <%= @item.date_end %>
</p>

<p>
  <b><%= t(:hour_estimated) %></b>
  <%= @item.hour_estimated %>
</p>

<p>
  <b><%= t(:hour_used) %></b>
  <%= @item.hour_used %>
</p>

<p>
  <b><%= t(:user_id) %></b>
  <% if not @item.user.nil? %>
    <%= @item.user.name %>
  <% end %>
</p>

<p>
  <b><%= t(:state_id) %></b>
  <%= @item.state.description %>
</p>

<p>
  <b><%= t(:description) %></b>
  <%= simple_format(@item.description) %>
</p>

<%= link_to t(:edit), edit_customer_project_task_item_path(@customer, @project, @task, @item) %> |
<%= link_to t(:back), customer_project_task_path(@customer, @project, @task) %>
