<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Controla Projetos" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Controla Projetos</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav nav-left">
              <li><%= link_to "Meus Itens de Tarefa", user_items_path %></li>
              <li><%= link_to "Meus Itens de Reunião", user_meeting_items_path %></li>
              <li> | </li>
              <li><%= link_to "Clientes", customers_path %></li>
              <li><%= link_to "Reuniões", meetings_path %></li>
            </ul>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                  <li class="dropdown">
                    <a id="my_profile" class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= gravatar_tag current_user.email, :size => 20 %>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to edit_user_registration_path do %>
                            <i class="icon-user"> Perfil </i>
                        <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to destroy_user_session_path, :method => :delete do %>
                            <i class="icon-off"> Sair </i>
                        <% end %>
                      </li>
                    </ul>
                  </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="push"></div>
    <div id="main">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->
      </div> <!-- /container -->
    </div>
  </div>

<div id="footer">
  <div class="container">
    <p class="muted credits">ZTC Solutions &copy;</p>
  </div>
</div>

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

</body>
</html>
